@import url("https://fonts.googleapis.com/css?family=Open Sans:400");
/* line 10, sass/partials-signup/_base.sass */
#ae-signup {
  margin-bottom: 1em;
}

/* line 13, sass/partials-signup/_base.sass */
.button {
  margin-right: 10px;
}

/* line 16, sass/partials-signup/_base.sass */
input, textarea {
  width: 100%;
}

/* line 1, sass/partials-signup/_elements.sass */
#ae-signup,
#additional-data .panel-body {
  background-color: #fff;
  text-align: left;
  color: #666;
}
/* line 8, sass/partials-signup/_elements.sass */
#ae-signup p,
#additional-data .panel-body p {
  margin: 1em 0;
}
/* line 11, sass/partials-signup/_elements.sass */
#ae-signup form label,
#additional-data .panel-body form label {
  display: block;
  font-weight: normal;
  color: #666;
  margin: 1em 0 5px 0;
}
/* line 16, sass/partials-signup/_elements.sass */
#ae-signup form input,
#additional-data .panel-body form input {
  width: 100%;
}
/* line 18, sass/partials-signup/_elements.sass */
#ae-signup button,
#ae-signup input,
#ae-signup textarea,
#additional-data .panel-body button,
#additional-data .panel-body input,
#additional-data .panel-body textarea {
  border: 1px solid #000;
  background-color: #fff;
  padding: 4px 10px;
  color: #000;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 26, sass/partials-signup/_elements.sass */
#ae-signup button:hover,
#ae-signup input:hover,
#ae-signup textarea:hover,
#additional-data .panel-body button:hover,
#additional-data .panel-body input:hover,
#additional-data .panel-body textarea:hover {
  border: 1px solid #999;
  background: #f9f9f9;
}
/* line 29, sass/partials-signup/_elements.sass */
#ae-signup button,
#ae-signup input[type="submit"],
#ae-signup input[type="button"],
#ae-signup input[type="reset"],
#additional-data .panel-body button,
#additional-data .panel-body input[type="submit"],
#additional-data .panel-body input[type="button"],
#additional-data .panel-body input[type="reset"] {
  background: #000;
  border: none;
  border-bottom: none;
  width: auto;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 44, sass/partials-signup/_elements.sass */
#ae-signup button:hover,
#ae-signup input[type="submit"]:hover,
#ae-signup input[type="button"]:hover,
#ae-signup input[type="reset"]:hover,
#additional-data .panel-body button:hover,
#additional-data .panel-body input[type="submit"]:hover,
#additional-data .panel-body input[type="button"]:hover,
#additional-data .panel-body input[type="reset"]:hover {
  background: #999;
  text-decoration: none;
  color: #fff;
}

/* line 50, sass/partials-signup/_elements.sass */
#social-logins a {
  display: inline-block;
  margin: 5px 10px 5px 0;
  background: #000;
  border: none;
  border-bottom: none;
  width: auto;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 64, sass/partials-signup/_elements.sass */
#social-logins a:hover {
  background-color: #999 !important;
  text-decoration: none;
  color: #fff;
}

/* line 70, sass/partials-signup/_elements.sass */
.onpage-error p {
  margin: 1em 0;
}
/* line 72, sass/partials-signup/_elements.sass */
.onpage-error .button {
  border: none;
  background: #000;
  border: none;
  border-bottom: none;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 84, sass/partials-signup/_elements.sass */
.onpage-error .button:hover {
  background: #999;
  text-decoration: none;
  color: #fff;
}

/* line 89, sass/partials-signup/_elements.sass */
#additional-data {
  padding-top: 1em;
}
/* line 91, sass/partials-signup/_elements.sass */
#additional-data .panel-body {
  padding: 0;
}
/* line 93, sass/partials-signup/_elements.sass */
#additional-data .panel-body input[type="submit"] {
  margin-top: 1em;
}
/* line 95, sass/partials-signup/_elements.sass */
#additional-data .form-control {
  height: auto;
  padding: 15px;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 102, sass/partials-signup/_elements.sass */
#additional-data .form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 104, sass/partials-signup/_elements.sass */
#additional-data > div:first-of-type {
  font-size: 1.4em;
}

/* line 107, sass/partials-signup/_elements.sass */
#ae-email-verified {
  padding-top: 1em;
}
/* line 109, sass/partials-signup/_elements.sass */
#ae-email-verified > div:first-of-type {
  font-size: 1.4em;
  padding-bottom: 0.5em;
}

/* line 5, sass/partials-signup/_ae-modal-base.sass */
#signin_alt {
  margin: 30px 0;
}

/* line 9, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt h1,
.authenty.signin-alt h2,
.authenty.signin-alt h3,
.authenty.signin-alt h4,
.authenty.signin-alt h5,
.authenty.signin-alt h6 {
  text-transform: uppercase;
  font-weight: 300;
}
/* line 17, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .btn {
  border-color: #fff;
  background-color: #ccc;
  color: #fff;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 22, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .btn:hover {
  background-color: #bbb;
  color: #fff;
}
/* line 25, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt a {
  color: #999;
}
/* line 27, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .title {
  margin: 20px 0 30px;
}
/* line 29, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .title h3 {
  font-size: 20px;
}
/* line 31, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .bottom-wrap {
  margin-top: 20px;
}
/* line 33, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .bottom-wrap > div {
  width: 100%;
  margin: 5px 0;
  text-align: center;
}
/* line 39, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .normal-signin .form-group.has-feedback .row {
  margin: 20px 0 0;
}
/* line 41, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .normal-signin .form-group.has-feedback .row > div {
  padding: 0;
}
/* line 44, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .sns-signin a {
  text-transform: capitalize;
  height: 59px;
  width: 59px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 49, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .sns-signin a.btn {
  padding: 11px;
}
/* line 51, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .sns-signin a span {
  display: none;
}
/* line 53, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .sns-signin a .fa {
  font-size: 2.5em;
}

/* line 12, sass/ae-signup-theme-dark.sass */
.authenty.signin-alt .btn {
  background-color: #000;
}
/* line 14, sass/ae-signup-theme-dark.sass */
.authenty.signin-alt .btn:hover {
  background-color: #666;
}
