@import url("https://fonts.googleapis.com/css?family=Open Sans:400");
/* line 10, sass/partials-signup/_base.sass */
#ae-signup {
  margin-bottom: 1em;
}

/* line 13, sass/partials-signup/_base.sass */
.button {
  margin-right: 10px;
}

/* line 16, sass/partials-signup/_base.sass */
input, textarea {
  width: 100%;
}

/* line 1, sass/partials-signup/_elements.sass */
#ae-signup,
#additional-data .panel-body {
  background-color: #fff;
  text-align: left;
  color: #666;
}
/* line 8, sass/partials-signup/_elements.sass */
#ae-signup p,
#additional-data .panel-body p {
  margin: 1em 0;
}
/* line 11, sass/partials-signup/_elements.sass */
#ae-signup form label,
#additional-data .panel-body form label {
  display: block;
  font-weight: normal;
  color: #666;
  margin: 1em 0 5px 0;
}
/* line 16, sass/partials-signup/_elements.sass */
#ae-signup form input,
#additional-data .panel-body form input {
  width: 100%;
}
/* line 18, sass/partials-signup/_elements.sass */
#ae-signup button,
#ae-signup input,
#ae-signup textarea,
#additional-data .panel-body button,
#additional-data .panel-body input,
#additional-data .panel-body textarea {
  border: 1px solid #eee;
  background-color: #f9f9f9;
  padding: 8px 16px;
  color: #212121;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 26, sass/partials-signup/_elements.sass */
#ae-signup button:hover,
#ae-signup input:hover,
#ae-signup textarea:hover,
#additional-data .panel-body button:hover,
#additional-data .panel-body input:hover,
#additional-data .panel-body textarea:hover {
  border: 1px solid #eee;
  background: #eee;
}
/* line 29, sass/partials-signup/_elements.sass */
#ae-signup button,
#ae-signup input[type="submit"],
#ae-signup input[type="button"],
#ae-signup input[type="reset"],
#additional-data .panel-body button,
#additional-data .panel-body input[type="submit"],
#additional-data .panel-body input[type="button"],
#additional-data .panel-body input[type="reset"] {
  background: #ddd;
  border: none;
  border-bottom: 4px solid #ccc;
  width: auto;
  padding: 10px 40px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.8em;
  text-transform: initial;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 44, sass/partials-signup/_elements.sass */
#ae-signup button:hover,
#ae-signup input[type="submit"]:hover,
#ae-signup input[type="button"]:hover,
#ae-signup input[type="reset"]:hover,
#additional-data .panel-body button:hover,
#additional-data .panel-body input[type="submit"]:hover,
#additional-data .panel-body input[type="button"]:hover,
#additional-data .panel-body input[type="reset"]:hover {
  background: #ccc;
  text-decoration: none;
  color: #fff;
}

/* line 50, sass/partials-signup/_elements.sass */
#social-logins a {
  display: inline-block;
  margin: 5px 10px 5px 0;
  background: #ddd;
  border: none;
  border-bottom: 4px solid #ccc;
  width: auto;
  padding: 10px 40px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.8em;
  text-transform: initial;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 64, sass/partials-signup/_elements.sass */
#social-logins a:hover {
  background-color: #ccc !important;
  text-decoration: none;
  color: #fff;
}

/* line 70, sass/partials-signup/_elements.sass */
.onpage-error p {
  margin: 1em 0;
}
/* line 72, sass/partials-signup/_elements.sass */
.onpage-error .button {
  border: none;
  background: #ddd;
  border: none;
  border-bottom: 4px solid #ccc;
  padding: 10px 40px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.8em;
  text-transform: initial;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 84, sass/partials-signup/_elements.sass */
.onpage-error .button:hover {
  background: #ccc;
  text-decoration: none;
  color: #fff;
}

/* line 89, sass/partials-signup/_elements.sass */
#additional-data {
  padding-top: 1em;
}
/* line 91, sass/partials-signup/_elements.sass */
#additional-data .panel-body {
  padding: 0;
}
/* line 93, sass/partials-signup/_elements.sass */
#additional-data .panel-body input[type="submit"] {
  margin-top: 1em;
}
/* line 95, sass/partials-signup/_elements.sass */
#additional-data .form-control {
  height: auto;
  padding: 10px 40px;
  color: #fff;
  font-size: 0.8em;
  text-transform: initial;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 102, sass/partials-signup/_elements.sass */
#additional-data .form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 104, sass/partials-signup/_elements.sass */
#additional-data > div:first-of-type {
  font-size: 1.4em;
}

/* line 107, sass/partials-signup/_elements.sass */
#ae-email-verified {
  padding-top: 1em;
}
/* line 109, sass/partials-signup/_elements.sass */
#ae-email-verified > div:first-of-type {
  font-size: 1.4em;
  padding-bottom: 0.5em;
}

/* line 12, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-facebook {
  background-color: #3b5998;
}
/* line 14, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-twitter {
  background-color: #00aced;
}
/* line 16, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-foursquare {
  background-color: #f94877;
}
/* line 18, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-instagram {
  background-color: #3f729b;
}
/* line 20, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-youtube {
  background-color: #e52d27;
}
/* line 22, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-rdio {
  background-color: #007dc3;
}
/* line 24, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-lastfm {
  background-color: #c3000d;
}
/* line 26, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-deezer {
  background-color: #000;
}
/* line 28, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-soundcloud {
  background-color: #f80;
}
/* line 30, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-spotify {
  background-color: #2ebd59;
}
/* line 32, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-beatsmusic {
  background-color: #bc1f5d;
}
/* line 34, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-tumblr {
  background-color: #35465c;
}
/* line 36, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-google {
  background-color: #e66060;
}
/* line 38, sass/ae-signup-theme-colourful.sass */
#social-logins #ae-envelope {
  background-color: #25383c;
}

/* line 41, sass/ae-signup-theme-colourful.sass */
#ae-signup input[type="submit"] {
  color: #888;
}

/* line 5, sass/partials-signup/_ae-modal-base.sass */
#signin_alt {
  margin: 30px 0;
}

/* line 9, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt h1,
.authenty.signin-alt h2,
.authenty.signin-alt h3,
.authenty.signin-alt h4,
.authenty.signin-alt h5,
.authenty.signin-alt h6 {
  text-transform: uppercase;
  font-weight: 300;
}
/* line 17, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .btn {
  border-color: #fff;
  background-color: #ccc;
  color: #fff;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 22, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .btn:hover {
  background-color: #bbb;
  color: #fff;
}
/* line 25, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt a {
  color: #999;
}
/* line 27, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .title {
  margin: 20px 0 30px;
}
/* line 29, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .title h3 {
  font-size: 20px;
}
/* line 31, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .bottom-wrap {
  margin-top: 20px;
}
/* line 33, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .bottom-wrap > div {
  width: 100%;
  margin: 5px 0;
  text-align: center;
}
/* line 39, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .normal-signin .form-group.has-feedback .row {
  margin: 20px 0 0;
}
/* line 41, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .normal-signin .form-group.has-feedback .row > div {
  padding: 0;
}
/* line 44, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .sns-signin a {
  text-transform: capitalize;
  height: 59px;
  width: 59px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 49, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .sns-signin a.btn {
  padding: 11px;
}
/* line 51, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .sns-signin a span {
  display: none;
}
/* line 53, sass/partials-signup/_ae-modal-base.sass */
.authenty.signin-alt .sns-signin a .fa {
  font-size: 2.5em;
}

/* line 50, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn {
  border-color: #fff;
}
/* line 52, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.facebook {
  background-color: #3b5998;
}
/* line 54, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.twitter {
  background-color: #00aced;
}
/* line 56, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.foursquare {
  background-color: #f94877;
}
/* line 58, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.instagram {
  background-color: #3f729b;
}
/* line 60, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.youtube {
  background-color: #e52d27;
}
/* line 62, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.rdio {
  background-color: #007dc3;
}
/* line 64, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.lastfm {
  background-color: #c3000d;
}
/* line 66, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.deezer {
  background-color: #000;
}
/* line 68, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.soundcloud {
  background-color: #f80;
}
/* line 70, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.spotify {
  background-color: #2ebd59;
}
/* line 72, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.beatsmusic {
  background-color: #bc1f5d;
}
/* line 74, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.tumblr {
  background-color: #35465c;
}
/* line 76, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.google {
  background-color: #e66060;
}
/* line 78, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.envelope {
  background-color: #25383c;
}
/* line 94, sass/ae-signup-theme-colourful.sass */
.authenty.signin-alt .btn.facebook:hover, .authenty.signin-alt .btn.twitter:hover, .authenty.signin-alt .btn.foursquare:hover, .authenty.signin-alt .btn.instagram:hover, .authenty.signin-alt .btn.youtube:hover, .authenty.signin-alt .btn.rdio:hover, .authenty.signin-alt .btn.lastfm:hover, .authenty.signin-alt .btn.deezer:hover, .authenty.signin-alt .btn.soundcloud:hover, .authenty.signin-alt .btn.spotify:hover, .authenty.signin-alt .btn.beatsmusic:hover, .authenty.signin-alt .btn.tumblr:hover, .authenty.signin-alt .btn.google:hover, .authenty.signin-alt .btn.envelope:hover {
  background-color: #ccc;
}
