@import url("https://fonts.googleapis.com/css?family=Open Sans:400");
/* line 10, sass/partials-signup/_base.sass */
#ae-signup {
  margin-bottom: 1em;
}

/* line 13, sass/partials-signup/_base.sass */
.button {
  margin-right: 10px;
}

/* line 16, sass/partials-signup/_base.sass */
input, textarea {
  width: 100%;
}

/* line 1, sass/partials-signup/_elements.sass */
#ae-signup,
#additional-data .panel-body {
  background-color: #fff;
  text-align: left;
  color: #666;
}
/* line 8, sass/partials-signup/_elements.sass */
#ae-signup p,
#additional-data .panel-body p {
  margin: 1em 0;
}
/* line 11, sass/partials-signup/_elements.sass */
#ae-signup form label,
#additional-data .panel-body form label {
  display: block;
  font-weight: normal;
  color: #666;
  margin: 1em 0 5px 0;
}
/* line 16, sass/partials-signup/_elements.sass */
#ae-signup form input,
#additional-data .panel-body form input {
  width: 100%;
}
/* line 18, sass/partials-signup/_elements.sass */
#ae-signup button,
#ae-signup input,
#ae-signup textarea,
#additional-data .panel-body button,
#additional-data .panel-body input,
#additional-data .panel-body textarea {
  border: 1px solid #eee;
  background-color: #f9f9f9;
  padding: 8px 16px;
  color: #212121;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 26, sass/partials-signup/_elements.sass */
#ae-signup button:hover,
#ae-signup input:hover,
#ae-signup textarea:hover,
#additional-data .panel-body button:hover,
#additional-data .panel-body input:hover,
#additional-data .panel-body textarea:hover {
  border: 1px solid #eee;
  background: #eee;
}
/* line 29, sass/partials-signup/_elements.sass */
#ae-signup button,
#ae-signup input[type="submit"],
#ae-signup input[type="button"],
#ae-signup input[type="reset"],
#additional-data .panel-body button,
#additional-data .panel-body input[type="submit"],
#additional-data .panel-body input[type="button"],
#additional-data .panel-body input[type="reset"] {
  background: #c3c3c3;
  border: none;
  border-bottom: 4px solid #afafaf;
  width: auto;
  padding: 10px 40px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.8em;
  text-transform: initial;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 44, sass/partials-signup/_elements.sass */
#ae-signup button:hover,
#ae-signup input[type="submit"]:hover,
#ae-signup input[type="button"]:hover,
#ae-signup input[type="reset"]:hover,
#additional-data .panel-body button:hover,
#additional-data .panel-body input[type="submit"]:hover,
#additional-data .panel-body input[type="button"]:hover,
#additional-data .panel-body input[type="reset"]:hover {
  background: #afafaf;
  text-decoration: none;
  color: #fff;
}

/* line 50, sass/partials-signup/_elements.sass */
#social-logins a {
  display: inline-block;
  margin: 5px 10px 5px 0;
  background: #c3c3c3;
  border: none;
  border-bottom: 4px solid #afafaf;
  width: auto;
  padding: 10px 40px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.8em;
  text-transform: initial;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 64, sass/partials-signup/_elements.sass */
#social-logins a:hover {
  background-color: #afafaf !important;
  text-decoration: none;
  color: #fff;
}

/* line 70, sass/partials-signup/_elements.sass */
.onpage-error p {
  margin: 1em 0;
}
/* line 72, sass/partials-signup/_elements.sass */
.onpage-error .button {
  border: none;
  background: #c3c3c3;
  border: none;
  border-bottom: 4px solid #afafaf;
  padding: 10px 40px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.8em;
  text-transform: initial;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 84, sass/partials-signup/_elements.sass */
.onpage-error .button:hover {
  background: #afafaf;
  text-decoration: none;
  color: #fff;
}

/* line 89, sass/partials-signup/_elements.sass */
#additional-data {
  padding-top: 1em;
}
/* line 91, sass/partials-signup/_elements.sass */
#additional-data .panel-body {
  padding: 0;
}
/* line 93, sass/partials-signup/_elements.sass */
#additional-data .panel-body input[type="submit"] {
  margin-top: 1em;
}
/* line 95, sass/partials-signup/_elements.sass */
#additional-data .form-control {
  height: auto;
  padding: 10px 40px;
  color: #fff;
  font-size: 0.8em;
  text-transform: initial;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 102, sass/partials-signup/_elements.sass */
#additional-data .form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 104, sass/partials-signup/_elements.sass */
#additional-data > div:first-of-type {
  font-size: 1.4em;
}

/* line 107, sass/partials-signup/_elements.sass */
#ae-email-verified {
  padding-top: 1em;
}
/* line 109, sass/partials-signup/_elements.sass */
#ae-email-verified > div:first-of-type {
  font-size: 1.4em;
  padding-bottom: 0.5em;
}
