/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /**
  * Client notices
  */

 ul.social-app-notice {
     width: 50%;
     margin-left: 18px;
 }
 p.client-notice {
     font-weight: bold;
 }

  p.client-notice span{
      font-size: 14px;
  }

  span.blank {
      color: #dd584a;
  }

  span.finished {
      color: #52b85d;
  }

  span.later {
      color: #287bab;
  }

.wrap.ae-connect-admin{
    margin: 20px 20px 0 2px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    padding: 20px;
    background: #f9f9f9;
}

.wrap.ae-connect-admin p .button{
    margin-right: 10px;
}

.wrap.ae-connect-admin form h2{
    margin: 3em 0 1em 0
}

.wrap.ae-connect-admin form label{
    display: block;
}

.wrap.ae-connect-admin .intro{
    padding: 20px;
    background-color: cornsilk;
    font-size: 1.3em;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.wrap.ae-connect-admin .help-link{
    display: block;
    background-color: #eee;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 15px 20px;
    font-size: 1.1em;
}

.wrap.ae-connect-admin .help-link:hover{
    background-color: #fff;
}

.wrap.ae-connect-admin .help-link span.dashicons-before:before{
    font-size: 2em;
    width: 34px;
    top: -4px;
    position: relative;
}

.required{
    display: none;
}

.ae-plan-restrictions{
    color: black;
    font-weight: bold;
    border: 1px solid #33BEFF;
    border-width: 5px;
    text-align: center;
    width: 60%;
}

.ae-connect-admin-error-msg{
    color: black;
    border-width: 5px;
    font-weight: bold;
    border: 5px solid red;
    text-align: center;
}
.ae-connect-admin-success{
    color: black;
    border-width: 5px;
    font-weight: bold;
    border: 5px solid #21CD33;
    text-align: center;
    width: 60%;
}
.ae-connect-admin-status{
    color: black;
    font-weight: bold;
    border: 5px solid blue;
    text-align: center;
}

label{
    /*color: rgb(72, 130, 199);*/
}

#settings-page-sales-pitch {
    margin: 50px;
    background-color: #7d494c;
    padding: 40px;
    border-radius: 20px;
}

#settings-page-sales-pitch h2 {
    color: white;
    font-size: 30px;
    line-height: 40px;
}

@media all and (max-width: 767px) {
    #settings-page-sales-pitch h2 {
        font-size: 12px;
        line-height: 18px;
    }

    #settings-page-sales-pitch {
        margin: 0;
    }

    #settings-page-sales-pitch .ae-logo-wrapper {
        width: 12%;
    }
}

#settings-page-sales-pitch h2 a {
    color: #d2b72d;
    text-decoration: none;
    word-wrap: break-word;
}

#settings-page-sales-pitch h2 a:hover {
    color: #d95347;
}

#settings-page-sales-pitch .ae-logo-wrapper{
    width: 7%;
    height: auto;
}

#settings-page-sales-pitch .ae-logo-wrapper img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.shortcode-help {
    width: 65%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding-left: 10%;
    padding-top: 5%;
}

.shortcode-help h1{
    font-size: 40px;
    margin: 50px;
    margin-left: 0;
}

.shortcode-help p, ul {
    font-size: 16px;
    list-style-type: circle;
}

.shortcode-help p {
    width: 65%;
}

.shortcode-help ul {
    padding: 10px;
}

.shortcode-help li {
    padding: 15px;
}

.shortcode-help h4 {
    font-size: 23px;
}

.shortcode-help h5 {
    font-size: 18px;
    margin: 0
}

.shortcode-help h3 {
    margin-top: 70px;
    font-size: 34px;
}
